{% load staticfiles %}

<html>

	<head>

		<title> El Blog de Juan </title>

		<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">

		<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">

		<link href="//fonts.googleapis.com/css?family=Lobster&subset=latin,latin-ext" rel="stylesheet" type="text/css">

		<link href="https://fonts.googleapis.com/css?family=Diplomata" rel="stylesheet">

		<link href="https://fonts.googleapis.com/css?family=Roboto+Slab" rel="stylesheet">

		<link href="https://fonts.googleapis.com/css?family=Sacramento" rel="stylesheet">

		<link rel="stylesheet" href="{% static 'css/blog.css' %}">


	</head>

	<body>
		<div>
			<h6><a href="/"> Juan Manuel Alvarado </a> </h6>
		</div>
		
		<div class="page-header">
			<h1> El Blog de Juan </h1>
			<h2> <em> En donde escribirá todas sus ideas </em> </h2>
			<h3> Y un resumen de los hallazgos de investigaciones </h3>
		</div>

		<div class="content container">
		    <div class="row">
		        <div class="col-md-8">
            	{% block content %}
            	{% endblock %}

		        </div>
		    </div>
		</div>
    </body>
</html>