<html>
	<head>
		<title> El Blog de Juan </title>
	</head>
	<body>
		<div>
			<h6><a href="/"> Juan Manuel Alvarado </a> </h6>
		</div>
		<div>
			<h1> El Blog de Juan </h1>
			<h2> <em> En donde escribirá todas sus ideas </em> </h2>
			<h3> Y un resumen de los hallazgos de investigaciones </h3>
		</div>
		<div>
    		<p>Publicado el 18 de marzo de 2018</p>
    		<h3> <a href=""> La canción del año </a> </h3>
    		<p>La Canción del año es sobre el caso de un burro enfermo</p>
    	</div>
    </body>
</html>
