<html>
	<head>
		<title> El Blog de Juan </title>
	</head>
	<body>
		<div>
			<h6><a href="/"> Juan Manuel Alvarado </a> </h6>
		</div>
		<div>
			<h1> El Blog de Juan </h1>
			<h2> <em> En donde escribirá todas sus ideas </em> </h2>
			<h3> Y un resumen de los hallazgos de investigaciones </h3>
		</div>

		{% for post in posts %}
			
			<div>
    			<p> published: {{ post.published_date }} </p>
    			<h1><a href="">{{ post.title }}</a></h1>
    			<p> {{ post.text|linebreaksbr }}</p>
    		</div>
    	{% endfor %}
    </body>
</html>
